<div class="flex justify-center items-center h-screen mx-auto">
  <div class="container p-5">
    <div class="flex items-center justify-center mx-auto mb-8">
      <img
        src="{{ customer.companyLogo }}"
        alt=""
        style="width: 100px; height: 100px"
      />
      <div>
        <h3 class="text-lg font-bold">{{ customer.companyName }}</h3>
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4">
      <div
        class="max-w-sm rounded overflow-hidden shadow-lg m-3 text-center"
        (click)="myWallet()"
      >
        <div class="p-4">
          <div class="font-bold text-xl mb-2">My Wallet</div>
        </div>
      </div>

      <div
        class="max-w-sm rounded overflow-hidden shadow-lg m-3 text-center"
        (click)="invoice()"
      >
        <div class="p-4">
          <div class="font-bold text-xl mb-2">My Invoices</div>
        </div>
      </div>

      <!-- <div class="max-w-sm rounded overflow-hidden shadow-lg m-3 text-center">
      <div class="p-4">
        <div class="font-bold text-xl mb-2">My Wallet</div>
      </div>
    </div> -->
    </div>
  </div>
</div>
