<div class="container p-5">
  <div
    class="max-w-sm rounded overflow-hidden shadow-md p-3 bg-teal-400 text-white"
  >
    <h1 class="text-2xl font-extrabold py-2">My Wallet</h1>
    <p class="py-1 font-normal">{{ wallet.walletAccountNumber }}</p>
    <p class="text-sm font-bold">{{ wallet.walletAccountName }}</p>
    <!-- <p class="text-sm font-light">{{ wallet.email }}</p> -->

    <div class="flex justify-end align-items-end text-4xl py-2">
      <span>
        <img
          class="pt-3 pr-1"
          src="../../../assets/wallet icon.png
            "
          alt="wallet"
        />
      </span>
      ₦{{ wallet.balance }}
    </div>
  </div>
</div>
